body {
  background: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #885df1;
}
div.container {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
input.search-bar {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 75%;
  border-radius: 6px;
}
input.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
.weather-predictions {
  display: flex;
  justify-content: space-between;
}
.weather-temperature {
  font-size: 48px;
  display: flex;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
span.temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
span.unit {
  font-size: 28px;
  margin-top: 6px;
}
div.weather-predictions {
  padding: 30px 0;
}
.weather-predictions h1 {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.weather-predictions p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.weather-predictions strong {
  color: #f65282;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 20px;
}
.weather-forecast-date {
  text-align: center;
  color: #27214266;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-icon {
  font-size: 38px;
  text-align: center;
}
.weather-forecast-temperatures {
  color: #f65282;
  font-size: 18px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature-min {
  margin-left: 10px;
  opacity: 0.6;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
